html{
	pointer-events: all;
}

#holder{
	height:100px;
	width: 100px;
}

#slideshowBackground{
	bottom:0px;
	top:0px;
	left:0px;
	right:0px;
	position:absolute;
	opacity:0.8;
	z-index: -1;
}

#slideshowHolder{
	bottom:0px;
	top:0px;
	left:0px;
	right:0px;
	opacity:0;
}

.slideImageWidth{
	top:5px;
	bottom:5px;
	width:100%;
	display: block;
	margin: auto;
	margin-left: auto;
	margin-right: auto;
	z-index: 2;
	position:relative;
}

.slideImageHeight{
	top:5px;
	bottom:5px;
	height:100%;
	display: block;
	margin: auto;
	margin-left: auto;
	margin-right: auto;
	z-index: 2;
	position:relative;
}

#x{
	height:15px;
	width:15px;
	position:absolute;
	top:15px;
	left:15px;
	z-index: 4;
}